{% extends "blog/base_blog.html" %}


{% block title %}Entries in category "{{ object.title }}"{% endblock %}


{% block headlinks %}
{{ block.super }}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'categories:category' slug=object.slug %}">

  <link rel="alternate"
        href="{% url 'feeds:category' slug=object.slug %}"
        title="Feed of entries in category '{{ object.title }}'"
        type="application/atom+xml">
{% endblock %}


{% block content %}

{% load static typogrify_tags %}

<h1>Entries in category &#8220;{{ object.title|typogrify }}&#8221;</h1>

{% with object.live_entries.all as entries %}

<p class="meta text-secondary">{{ entries.count }} entr{{ entries.count|pluralize:"y,ies" }} in this category. See also: <a href="{% url 'feeds:category' slug=object.slug %}" type="application/atom+xml" rel="alternate"><img src="{% static "b-list/img/feed-icon-10x10.png" %}" alt="Feed icon"> feed of entries in this category</a>, <a href="{% url 'categories:index' %}">list of all entry categories</a>.</p>

{% regroup entries by pub_date|date:"Y" as by_date %}
{% for year in by_date %}
<h2>{{ year.grouper }}</h2>
<ul class="content-list list-unstyled">
  {% for entry in year.list %}
  <li><a class="content-title" href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry.title|typogrify }}</a> <span class="content-date text-secondary"> &mdash; {{ entry.pub_date|date:"F j" }}</span></li>
  {% endfor %}
</ul>
{% endfor %}

{% endwith %}

{% endblock %}
