{% extends "blog/base_blog.html" %}


{% block title %}Entry categories{% endblock %}


{% block headlinks %}
{{ block.super }}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'categories:index' %}">
{% endblock %}


{% block content %}
{% load typogrify_tags %}

<h1>
  <span class="text-secondary" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
    <br>
  </span>
  Entry categories
</h1>

<p class="meta text-secondary">{{ object_list.count }} categor{{ object_list.count|pluralize:"y,ies" }} in use. See also: <a href="{% url 'entries:index' %}">full archive</a>.</p>

{% for category in object_list %}

<h2>{{ category.title }}</h2>

<p>{% with category.live_entries.count as entry_count %}<a class="content-title" href="{{ category.get_absolute_url }}">{{ entry_count|capfirst }} entr{{ entry_count|pluralize:"y,ies" }}</a>{% endwith %}</p>

<p class="text-secondary">Latest entries:</p>

<ul class="content-list list-unstyled">
  {% for entry in category.live_entries|slice:"3" %}
  <li><a class="content-title" href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry.title|typogrify }}</a> <span class="content-date text-secondary"> &mdash; {{ entry.pub_date|date:"F j, Y" }}</span></li>
{% endfor %}
</ul>

{% endfor %}

{% endblock %}
