{% extends "blog/base_blog.html" %}


{% block title %}Entry categories{% endblock %}


{% block headlinks %}
{{ block.super }}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'categories:index' %}">
{% endblock %}


{% block content %}
{% load typogrify_tags %}

<h1>Entry categories</h1>

<p class="meta">{{ object_list.count }} categor{{ object_list.count|pluralize:"y,ies" }} in use. See also: <a href="{% url 'entries:index' %}">latest entries</a>.</p>

{% for category in object_list %}

<h2>{{ category.title }}</h2>

<p>Latest:</p>
<ul>
{% for entry in category.live_entries|slice:"3" %}
  <li><a href="{{ entry.get_absolute_url }}">{{ entry.title|typogrify }}</a></li>
{% endfor %}
</ul>

<p class="list-meta"><a href="{{ category.get_absolute_url }}">{% with category.live_entries.count as entry_count %}See all {{ entry_count|capfirst }} entr{{ entry_count|pluralize:"y,ies" }} in this category</a>{% endwith %}</p>

{% endfor %}

{% endblock %}
