{% extends "blog/base_blog.html" %}


{% block title %}{{ object.title }}{% endblock %}


{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{{ object.get_absolute_url }}">
{% with object.get_previous_by_pub_date as previous %}
{% if previous %}
  <link rel="prev"
        href="{{ previous.get_absolute_url }}"
        title="{{ previous.title }}"
        type="text/html">
{% endif %}
{% endwith %}
{% with object.get_next_by_pub_date as next %}
{% if next %}
  <link rel="next"
        href="{{ next.get_absolute_url }}"
        title="{{ next.title }}"
        type="text/html">
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}
{% load typogrify_tags %}

<h1>
  <span class="text-secondary" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
    <br>
  </span>
  {{ object.title|typogrify }}
</h1>

<!--
 If this entry is assigned to one or more categories, they'll appear
 in links in the paragraph below. Each of those links uses
 rel="category" to indicate it's a link to a category.

 See http://microformats.org/wiki/rel-category for details.
-->
<p class="meta text-secondary">Published: <a href="{% url 'entries:day' year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" %}">{{ object.pub_date|date:"F j, Y" }}</a>. Filed under:
{% for category in object.categories.all %}<a rel="category" href="{{ category.get_absolute_url }}">{{ category.title|typogrify }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}.
  
{{ object.body_html|safe }}

{% endblock %}
