{% extends "blog/base_blog.html" %}


{% block title %}{{ object.title }}{% endblock %}


{% block headlinks %}
  <link rel="up"
        href="{% url 'blog_entry_archive_day' year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" %}"
        title="Entries published on {{ object.pub_date|date:"F j, Y" }}"
        type="text/html">
{% with object.get_previous as previous %}
{% if previous %}
  <link rel="prev"
        href="{{ previous.get_absolute_url }}"
        title="{{ previous.title }}"
        type="text/html">
{% endif %}
{% endwith %}
{% with object.get_next as next %}
{% if next %}
  <link rel="next"
        href="{{ next.get_absolute_url }}"
        title="{{ next.title }}"
        type="text/html">
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}
{% load typogrify_tags %}

<h1><span class="glyphicon glyphicon-pencil small" aria-hidden="true"></span><br />{{ object.title|typogrify }}</h1>

<p class="meta">Published <a href="{% url 'blog_entry_archive_day' year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" %}">{{ object.pub_date|date:"F j, Y" }}</a>. Filed under:
  
{% for category in object.categories.all %}<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}.
  
{{ object.body_html|safe }}

{% endblock %}
