{% extends "blog/base_blog.html" %}


{% block title %}Entries published in {{ year|date:"Y" }}{% endblock %}

{% block extrahead %}
  <meta name="robots" content="noindex, follow">
{% endblock %}

{% block headlinks %}
  <link rel="canonical"
	href="{{ protocol }}://{{ site }}{% url 'entries:year' year=year|date:"Y" %}">
{% load next_previous %}
{% get_next object_list pub_date as next %}
{% get_previous object_list pub_date as previous %}
{% if previous %}
{% with previous.pub_date as prev_date %}
  <link rel="prev"
        href="{% url 'entries:year' year=prev_date|date:"Y" %}"
        title="Entries published in {{ prev_date|date:"Y" }}"
        type="text/html">
{% endwith %}
{% endif %}
{% if next %}
{% with next.pub_date as next_date %}
  <link rel="next"
        href="{% url 'entries:year' year=next_date|date:"Y" %}"
        title="Entries published in {{ next_date|date:"Y" }}"
        type="text/html">
{% endwith %}
{% endif %}
{% endblock %}


{% block content %}

{% load next_previous %}
{% load typogrify_tags %}

<h1><span class="glyphicon glyphicon-pencil small" aria-hidden="true"></span><br />Entries published in {{ year|date:"Y" }}</h1>
<p class="meta">{{ object_list.count }} entr{{ object_list.count|pluralize:"y,ies" }} published in this year. See also: <a href="{% url 'entries:index' %}">latest entries</a>.</p>

{% for entry in object_list %}

<h2>{{ entry.title|typogrify }}</h2>
{{ entry.body_html|truncatewords_html:"90"|safe }}
<p class="list-meta">Entry published {{ entry.pub_date|date:"F j, Y" }}. <a href="{{ entry.get_absolute_url }}" rel="bookmark">Read full entry</a>.</p>

{% endfor %}

{% endblock %}
