{% extends "blog/base_blog.html" %}


{% block title %}Entries published in {{ month|date:"F Y" }}{% endblock %}

{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'entries:month' year=month|date:"Y" month=month|date:"b" %}">
{% load next_previous %}
{% get_next object_list pub_date as next %}
{% get_previous object_list pub_date as previous %}
{% if previous %}
{% with previous.pub_date as prev_date %}
  <link rel="prev"
        href="{% url 'entries:month' year=prev_date|date:"Y" month=prev_date|date:"b" %}"
        title="Entries published in {{ prev_date|date:"F Y" }}"
        type="text/html">
{% endwith %}
{% endif %}
{% if next %}
{% with next.pub_date as next_date %}
  <link rel="next"
        href="{% url 'entries:month' year=next_date|date:"Y" month=next_date|date:"b" %}"
        title="Entries published in {{ next_date|date:"F Y" }}"
        type="text/html">
{% endwith %}
{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}  

{% block content %}

{% load typogrify_tags %}

<h1>Entries published in {{ month|date:"F Y" }}</h1>

<p class="meta text-secondary">{{ object_list.count }} entr{{ object_list.count|pluralize:"y,ies" }} published in this month. See also: <a href="{% url 'entries:year' year=month|date:"Y" %}">all entries published in {{ month|date:"Y" }}</a>, <a href="{% url 'entries:index' %}">full archive</a>.</p>

{% regroup object_list by pub_date|date:"j" as by_date %}
{% for day in by_date %}
<h2>{{ month|date:"F" }} {{ day.grouper }}</h2>
<ul class="content-list list-unstyled">
  {% for entry in day.list %}
  <li><a class="content-title" href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry.title|typogrify }}</a> <span class="content-date text-secondary"></li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}
