{% extends "blog/base_blog.html" %}


{% block title %}Entries published in {{ year|date:"Y" }}{% endblock %}

{% block headlinks %}
  <link rel="canonical"
	href="{{ protocol }}://{{ site }}{% url 'entries:year' year=year|date:"Y" %}">
{% load next_previous %}
{% get_next object_list pub_date as next %}
{% get_previous object_list pub_date as previous %}
{% if previous %}
{% with previous.pub_date as prev_date %}
  <link rel="prev"
        href="{% url 'entries:year' year=prev_date|date:"Y" %}"
        title="Entries published in {{ prev_date|date:"Y" }}"
        type="text/html">
{% endwith %}
{% endif %}
{% if next %}
{% with next.pub_date as next_date %}
  <link rel="next"
        href="{% url 'entries:year' year=next_date|date:"Y" %}"
        title="Entries published in {{ next_date|date:"Y" }}"
        type="text/html">
{% endwith %}
{% endif %}
{% endblock %}


{% block content %}

{% load next_previous %}
{% load typogrify_tags %}

<h1>
Entries published in {{ year|date:"Y" }}
</h1>
<p class="meta text-light-emphasis">{{ object_list.count }} entr{{ object_list.count|pluralize:"y,ies" }} published in this year. See also: <a href="{% url 'entries:index' %}">full archive</a>.</p>

{% regroup object_list by pub_date|date:"F" as by_date %}
{% for month in by_date %}
<h2>{{ month.grouper }}</h2>
<ul class="content-list list-unstyled">
  {% for entry in month.list %}
  <li><a class="content-title" href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry.title|typogrify }}</a> <span class="content-date text-light-emphasis"> &mdash; {{ entry.pub_date|date:"F j" }}</span></li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}
