{% extends "blog/base_blog.html" %}


{% block title %}Latest entries{% endblock %}

{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site}}{% url 'entries:index' %}">
{% endblock %}

{% block content %}

{% load static typogrify_tags %}

<h1>Latest entries</h1>

<p class="meta">See also: <a href="/feeds/entries/" type="application/atom+xml" rel="alternate"><img src="{% static "b-list/img/feed-icon-10x10.png" %}" alt="Feed icon"> feed of weblog entries</a>.</p>

<ul>
  {% for entry in latest|slice:"20" %}
  <li><a href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry.title|typogrify }}</a>, published {{ entry.pub_date|date:"F j, Y" }}.</li>
  {% endfor %}
</ul>

{% endblock %}
