{% extends "blog/base_blog.html" %}
{% load static %}

{% block opengraph %}
  <meta name="description" content="{{ object.body|truncatewords:"20" }}">
  <!--
      OpenGraph metadata tags which define how links to this page
      will be displayed on social media and other services which
      support OpenGraph. See https://ogp.me for details.
  -->
  <meta name="og:type" content="article">
  <meta name="og:locale" content="en_US">
  <meta name="og:image" content="{{ protocol }}://{{ site }}{% static "b-list/img/og.jpg" %}">
  <meta name="og:site_name" content="James Bennett">
  <meta name="og:title" content="{{ object.title }}">
  <meta name="og:url" content="{{ protocol }}://{{ site }}{{ object.get_absolute_url }}">
  <meta name="og:description" content="{{ object.body|truncatewords:"20" }}">
  <!--
      Some sites/systems only read the Twitter version of the
      metadata, so it's repeated here for them.
  -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ site }}">
  <meta property="twitter:url" content="{{ protocol }}://{{ site }}{{ object.get_absolute_url }}">
  <meta name="twitter:title" content="{{ object.title }}">
  <meta name="twitter:description" content="{{ object.body|truncatewords:"20" }}">
  <meta name="twitter:image" content="{{ protocol }}://{{ site }}{% static "b-list/img/og.jpg" %}">
{% endblock %}
{% block title %}{{ object.title }}{% endblock %}


{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{{ object.get_absolute_url }}">
{% with object.get_previous_by_pub_date as previous %}
{% if previous %}
  <link rel="prev"
        href="{{ previous.get_absolute_url }}"
        title="{{ previous.title }}"
        type="text/html">
{% endif %}
{% endwith %}
{% with object.get_next_by_pub_date as next %}
{% if next %}
  <link rel="next"
        href="{{ next.get_absolute_url }}"
        title="{{ next.title }}"
        type="text/html">
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
{% load typogrify_tags %}

<h1>
  {{ object.title|typogrify }}
</h1>

<!--
 If this entry is assigned to one or more categories, they'll appear
 in links in the paragraph below. Each of those links uses
 rel="category" to indicate it's a link to a category.

 See http://microformats.org/wiki/rel-category for details.
-->
<p class="meta text-light-emphasis">
  <a href="{% url 'entries:day' year=object.pub_date|date:"Y" month=object.pub_date|date:"b" day=object.pub_date|date:"d" %}">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
    <title>Published on:</title>
    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
{{ object.pub_date|date:"F j, Y" }}</a>
  &nbsp;&nbsp;
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
    <title>Categories:</title>
    <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
    <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>
  </svg>
  {% for category in object.categories.all %}<a rel="category" href="{{ category.get_absolute_url }}">{{ category.title|typogrify }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
</p>
  
{{ object.body_html|safe }}

{% endblock %}
