{% extends "base.html" %}


{% block title %}Message sent{% endblock %}

{% block headlinks %}
<link rel="canonical"
      href="{{ protocol }}://{{ site }}{% url 'contact_form_sent' %}">

  <link rel="up"
        href="{% url 'home' %}"
        title="Home"
        type="text/html">
{% endblock %}

{% block bodyclass %}contact{% endblock %}

{% block content %}

{% load markup %}

<h1><span class="glyphicon glyphicon-send small" aria-hidden="true"></span><br />Message sent</h1>

<p class="meta">See also: <a href="/about/">about the author</a>, <a href="{% url 'entries:index' %}">weblog index</a>.</p>

{% filter markup %}

Your message has been sent, and I'll look at it and try to get back to you as soon as possible.

In the meantime, you might be interested in reading [some entries from my weblog]({% url 'entries:index' %}).

{% endfilter %}

{% endblock %}
