Django==1.5.4
django-contact-form
django-flashpolicies
-e git+https://github.com/ubernostrum/blog.git#egg=blog
-e git+https://github.com/ubernostrum/typogrify.git#egg=typogrify
-e git+https://github.com/ubernostrum/django-browserid.git#egg=django_browserid
Markdown
Pygments
smartypants
gunicorn