{% extends "base.html" %}

{% block title %}Get in touch{% endblock %}

{% block headlinks %}
<link rel="canonical"
      href="{{ protocol }}://{{ site }}{% url 'django_contact_form' %}">
{% endblock %}

{% block contact-nav-class %}active{% endblock %}

{% block content %}

{% load widget_tweaks %}
{% load typogrify_tags %}

<h1>
  <span class="text-secondary" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
    </svg>
    <br>
  </span>
  Get in touch
</h1>

<p class="meta text-secondary">See also: <a href="/about/">about the author</a>, <a href="{% url 'entries:index' %}">weblog index</a>.</p>

<p>{% filter typogrify %}Enter your name, email address and message, and click "Send". Your email address won't ever be sold or shared; it's required only so that I can reply to your message.{% endfilter %}</p>

<form method="post" action="/contact/" id="contact-form">{% csrf_token %}
  <div class="mb-3">
    <label class="form-label" for="id_name">Your name:</label>{% if form.name.errors %} <span class="error bg-warning">{{ form.name.errors|join:", " }}</span>{% endif %}
    {{ form.name|add_class:"form-control" }}
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_email">Your email address:</label>{% if form.email.errors %} <span class="error bg-warning">{{ form.email.errors|join:", " }}</span>{% endif %}
    {{ form.email|add_class:"form-control" }}
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_body">Your message:</label>{% if form.body.errors %} <span class="error bg-warning">{{ form.body.errors|join:", " }}</span>{% endif %}
    {{ form.body|add_class:"form-control" }}
  </div>
  <button type="submit" class="btn btn-outline-primary">Send</button>
</form>

{% endblock %}
