{% extends "base.html" %}

{% block title %}Get in touch{% endblock %}

{% block headlinks %}
<link rel="canonical"
      href="{{ protocol }}://{{ site }}{% url 'django_contact_form' %}">
{% endblock %}

{% block contact-nav-current%}true{% endblock %}
{% block contact-nav-class %}active{% endblock %}

{% block content %}

{% load widget_tweaks %}
{% load typogrify_tags %}

<h1>
  Get in touch
</h1>

<p class="meta text-light-emphasis">See also: <a href="/about/">about the author</a>, <a href="{% url 'entries:index' %}">weblog index</a>.</p>

{% filter typogrify %}
<p>The contents of the form below, along with your IP address, will be
sent to <a href="https://akismet.com">a spam-filtering service</a>. If
this is unacceptable to you, please use an alternative contact
method.</p>

{% endfilter %}


<form method="post" action="/contact/" id="contact-form">{% csrf_token %}
  <div class="mb-3">
    <label class="form-label" for="id_name">Your name:</label>{% if form.name.errors %} <span class="error bg-warning">{{ form.name.errors|join:", " }}</span>{% endif %}
    {{ form.name|add_class:"form-control" }}
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_email">Your email address:</label>{% if form.email.errors %} <span class="error bg-warning">{{ form.email.errors|join:", " }}</span>{% endif %}
    {{ form.email|add_class:"form-control" }}
  </div>
  <div class="mb-3">
    <label class="form-label" for="id_body">Your message:</label>{% if form.body.errors %} <span class="error bg-warning">{{ form.body.errors|join:", " }}</span>{% endif %}
    {{ form.body|add_class:"form-control" }}
  </div>
  <button type="submit" class="btn btn-outline-primary">Send</button>
</form>

{% endblock %}
