{% extends "projects/base_project.html" %}


{% block title %}Projects{% endblock %}

{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'projects:list' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}  

{% block content %}

{% load markup %}

<h1>Projects</h1>

<p class="meta">See also: <a href="{% url 'entries:index' %}">weblog</a>, <a href="/about/">about the author</a>.</p>

<p>All projects (click a project name for details):</p>

<table class="table table-striped table-borderless">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Latest version</th>
      <th scope="col">Released</th>
      <th scope="col">License</th>
  </thead>
  <tbody>
    {% for project in object_list %}
    {% with project.latest_version as latest_version %}
    <tr>
      <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
      <td>
	<a href="https://pypi.org/project/{{ project.name }}/{{ latest_version.version }}/">
	  {{ latest_version.version }}
	</a>
      </td>
      <td>{{ latest_version.release_date|date:"F j, Y"  }}</td>
      <td>{{ latest_version.license }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
