{% extends "projects/base_project.html" %}
{% load static %}

{% block opengraph %}
  <!--
      OpenGraph metadata which define how links to this page
      will be displayed on social media and other services which
      support OpenGraph. See https://ogp.me for details.
  -->
  <meta name="og:type" content="object">
  <meta name="og:locale" content="en_US">
  <meta name="og:image" content="{% static "b-list/img/og.jpg" %}">
  <meta name="og:site_name" content="James Bennett">
  <meta name="og:title" content="{{ object.name }}">
  <meta name="og:url" content="{{ protocol }}://{{ site }}{% url 'projects:detail' slug=object.slug %}">
  <meta name="og:description" content="{{ object.description|truncatewords:"20" }}">
{% endblock %}
{% block title %}{{ object.name }}{% endblock %}

{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'projects:detail' slug=object.slug %}">
{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}  

{% block content %}

{% load markup %}

<h1>
  {{ object.name }}
</h1>

<p class="meta text-light-emphasis">See also: <a href="{% url 'projects:list' %}">Full list of projects</a>.</p>

{{ object.description|markup }}

{% with object.latest_version as latest_version %}

<p>Project information:</p>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Latest version</th>
      <td>{{ latest_version.version }} ({{ latest_version.release_date|date:"F j, Y" }})</td>
    </tr>
    <tr>
      <th scope="row">License</th>
      <td>{{ latest_version.license }}</td>
    </tr>
    <tr>
      <th scope="row">Packages</th>
      <td><a href="{{ object.package_link }}/{{ latest_version.version }}/">on the Python Package Index</a></td>
    </tr>
    <tr>
      <th scope="row">Documentation</th>
      <td><a href="{{ object.documentation_link }}">on Read the Docs</a></td>
    </tr>
    <tr>
      <th scope="row">Repository</th>
      <td><a href="{{ object.repository_link }}">on GitHub</a></td>
    </tr>
    <tr>
      <th scope="row">Continuous integration</th>
      <td><a href="{{ object.tests_link }}">on GitHub Actions</a></td>
    </tr>
    <tr>
      <th scope="row">CI status</th>
      <td><a href="{{ object.repository_link }}/actions?query=workflow%3ACI"><img src="{{ object.repository_link }}/workflows/CI/badge.svg" alt="GitHub Actions status badge"></a></td>
    </tr>
  </tbody>
</table>

{% endwith %}

{% endblock %}
