{% extends "projects/base_project.html" %}


{% block title %}{{ object.name }}{% endblock %}

{% block extrahead %}
  <meta name="robots" content="noindex, follow">
{% endblock %}

{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{% url 'projects:detail' slug=object.slug %}">
{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}  

{% block content %}

{% load markup %}

<h1><span class="glyphicon glyphicon-heart small" aria-hidden="true"></span><br />{{ object.name }}</h1>

<p class="meta">See also: <a href="{% url 'projects:list' %}">Full list of projects</a>.</p>

{{ object.description|markup }}

{% with object.latest_version as latest_version %}

<table class="table table-striped">
  <caption>Project information:</caption>
  <tbody>
    <tr>
      <th scope="row">Latest version</th>
      <td>{{ latest_version.version }} ({{ latest_version.release_date|date:"F j, Y" }})</td>
    </tr>
    <tr>
      <th scope="row">License</th>
      <td>{{ latest_version.license }}</td>
    </tr>
    <tr>
      <th scope="row">Packages</th>
      <td><a href="{{ object.package_link }}/{{ latest_version.version }}/">on the Python Package Index</a></td>
    </tr>
    <tr>
      <th scope="row">Documentation</th>
      <td><a href="{{ object.documentation_link }}">on Read the Docs</a></td>
    </tr>
    <tr>
      <th scope="row">Repository</th>
      <td><a href="{{ object.repository_link }}">on GitHub</a></td>
    </tr>
    <tr>
      <th scope="row">Unit tests</th>
      <td><a href="{{ object.tests_link }}">on Travis CI</a></td>
    </tr>
    <tr>
      <th scope="row">Test status</th>
      <td><img src="{{ object.tests_link }}.svg?branch=master" alt="Travis CI status badge"></td>
    </tr>
  </tbody>
</table>

{% endwith %}

{% endblock %}
