{% extends "base.html" %}

{% block title %}Server error{% endblock %}


{% block content %}

<h1><span class="glyphicon glyphicon-exclamation-sign small" aria-hidden="true"></span><br />Server error</h1>
<p class="meta">For something to do while I'm fixing things, try: <a href="/">home</a>, <a href="/weblog/">latest weblog entries</a>.</p>

<p>It looks like something&#8127;s gone wrong with my server, and it wasn&#8127;t able to display this page. An email with details of the error has been automatically sent to me, and I&#8127;ll get it fixed as soon as possible.</p>

{% endblock %}
