{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Patua+One"
	rel="stylesheet"
	integrity="sha256-vAl+ui0MJxGFNc+JYuW/i2BxcjRPXLmlZXLZgQGfyAU="
	crossorigin="anonymous"> 
  <link href="{% static "b-list/css/b-list-20180208.css" %}"
	rel="stylesheet"
	integrity="sha256-R2a8oZK9kIJCFg55yGtR/WTHODMivNbRmoEG7jJpjQc=">
{% block extrahead %}{% endblock %}
  <link rel="alternate"
        title="Feed of latest entries" href="/feeds/entries/"
        type="application/atom+xml">
{% block headlinks %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
  <a class="skip" href="#content">Skip to content</a>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <div id="navbar" class="navbar-collapse">
  	<ul class="nav navbar-nav">
	  <li id="home-link"><a href="/">Home</a></li>
	  <li id="weblog-link"><a href="/weblog/">Weblog</a></li>
	  <li id="projects-link"><a href="/projects/">Projects</a></li>
	  <li id="about-link"><a href="/about/">About</a></li>
	  <li id="contact-link"><a href="/contact/">Contact</a></li>
	</ul>
      </div>
    </div>
  </nav>
  <div id="content" class="container">
    <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer class="footer footer-inverse">
    <div class="container">
      <p class="footer-brand"><a href="/about/copyright/">Copyright &copy; 2006-{% now "Y" %}</a> <a href="/about/">James Bennett</a>, a software engineer living in California.</p>
      <p class="footer-brand">Opinions expressed here are solely those of the author.</p>
    </div>
  </footer>
  <script type="text/javascript"
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
  <script type="text/javascript"
	  src="{% static "b-list/js/bootstrap.min.js" %}"
	  integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="></script>
</body>
</html>
