{% extends "base.html" %}

{% block title %}James Bennett{% endblock %}

{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}/">
  <!-- Verifying my self-link for Mastodon. -->
  <link rel="me" href="https://infosec.exchange/@ubernostrum" />
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}

{% load static typogrify_tags %}

  <h1>
    Hi.
  </h1>
<p class="meta">See also: <a href="/feeds/entries/" type="application/atom+xml" rel="alternate"><img src="{% static "b-list/img/feed-icon-10x10.png" %}" alt="Feed icon"> weblog feed</a>, <a href="/about/colophon/">about this site</a>.</p>

{% filter typogrify %}
<p>I'm James, a software developer living in California. I mostly work
in <a href="https://www.python.org/">Python</a>,
with <a href="https://www.djangoproject.com/">the Django web
framework</a>, for which I've served as a committer, release manager,
and member of the technical board.</p>

<p>I maintain several <a href="/projects/">open-source libraries and
applications</a>, <a href="https://infosec.exchange/@ubernostrum">microblog
about various things</a>, and <a href="/weblog/">write longer-form
content from time to time</a>. You can find out
more <a href="/about/">about me</a>, or <a href="/contact/">get in
touch</a>, if you'd like.</p>  {% endfilter %}

<p class="list-meta">

<h2>Latest weblog entries</h2>
<ul class="content-list list-unstyled">
  {% for entry in latest|slice:"5" %}
  <li><a class="content-title" href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry.title|typogrify }}</a> <span class="content-date text-light-emphasis"> &mdash; {{ entry.pub_date|date:"F j, Y" }}<span></li>
  {% endfor %}
</ul>

{% endblock %}
