{% extends "base.html" %}

{% block title %}The B-List{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}

{% load typogrify_tags %}

<h1><span class="glyphicon glyphicon-pencil small" aria-hidden="true"></span><br />Latest entries</h1>
<p class="meta">See also: <a href="/about/">about the author</a>, <a href="/about/colophon/">about this site</a>.</p>

{% for entry in latest|slice:"5" %}

<h2>{{ entry.title }}</h2>
{{ entry.body_html|truncatewords_html:"90"|safe }}
<p class="list-meta">Entry published {{ entry.pub_date|date:"F j, Y" }}. <a href="{{ entry.get_absolute_url }}" rel="bookmark">Read full entry</a>.</p>

{% endfor %}

{% endblock %}
