{% extends "base.html" %}


{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{{ flatpage.url }}">

  <link rel="home"
        href="/"
        title="Home page"
        type="text/html">
{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block bodyclass %}about{% endblock %}

{% block content %}

{% load markup %}
{% load typogrify_tags %}

<h1><span class="glyphicon glyphicon-user small" aria-hidden="true"></span><br />{{ flatpage.title|typogrify }}</h1>

<p class="meta">{% block flatpage_about %}See also: <a href="{% url 'contact_form' %}">contact me</a>, <a href="/about/colophon/">colophon</a>, <a href="{% url 'blog_entry_archive_index' %}">weblog</a>.{% endblock %}</p>

{{ flatpage.content|markup }}

{% endblock %}
