{% extends "base.html" %}


{% block headlinks %}
  <link rel="canonical"
        href="{{ protocol }}://{{ site }}{{ flatpage.url }}">
{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}


{% block content %}

{% load markup %}
{% load typogrify_tags %}

<h1>
  <span class="text-light-emphasis" aria-hidden="true">
  {{ flatpage.title|typogrify }}
</h1>

<p class="meta text-light-emphasis">{% block flatpage_about %}{% endblock %}</p>

{{ flatpage.content|markup }}

{% endblock %}
